@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
}

nav a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 1%;
}

header {
  width: 90%;
  margin: 0 auto;
  padding: 10% 1%;
  z-index: 5;
  position: absolute;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .normal {
  width: 30%;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .normal a {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

header .normal a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 1%;
}

.special {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  display: none;
  z-index: 2;
  background: black;
  width: 100%;
  padding: 50% 0%;
  position: fixed;
  left: 0;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.special a {
  text-decoration: none;
  color: #ffffff;
  margin: 3%;
  font-size: 2rem;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.firstsection {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 15, 0.465)), to(rgba(0, 0, 15, 0.465))), url(./images/mobile/image-hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 15, 0.465), rgba(0, 0, 15, 0.465)), url(./images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  width: auto;
  height: 80vh;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.firstsection div {
  width: 90%;
  margin: 0 auto;
}

.firstsection h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  width: 95%;
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  padding: 4% 2%;
  word-spacing: 9999px;
}

.secondesection {
  background: #ffffff;
  width: 100%;
  height: auto;
  padding: 30% 0% 30% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.secondesection .imagecontainer {
  width: 90%;
  margin: 0 auto;
}

.secondesection .imagecontainer img {
  width: 100%;
}

.secondesection h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 10% 0% 6% 0%;
}

.secondesection p {
  color: #8c8c8c;
  text-align: center;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  width: 90%;
  margin: 0 auto;
}

.thirdsection div h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  padding: 0% 0% 6% 0%;
}

.thirdsection div button {
  display: none;
}

.thirdsection .allfigures figure {
  width: 90%;
  margin: 4% auto;
  position: relative;
}

.thirdsection .allfigures figure .figureimage {
  width: 90%;
}

.thirdsection .allfigures figure .figureimage img {
  width: 100%;
}

.thirdsection .allfigures figure figcaption {
  position: absolute;
  color: #ffffff;
  left: 0;
  bottom: 0;
  font-size: 20px;
  margin: 5%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  width: 35%;
}

.thirdsection .allfigures figure:hover figcaption {
  color: #000000;
}

.thirdsection .allfigures figure:hover img {
  opacity: 0.4;
}

.thirdsection .secondbutton {
  display: block;
  margin: 5% auto 30% auto;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-weight: 800;
  text-transform: uppercase;
  padding: 4% 14%;
  border: 1px solid #000000;
  background: #ffffff;
}

.thirdsection .secondbutton:hover {
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}

footer .footercontainer {
  background: #000000;
  padding: 20% 1%;
  color: #ffffff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 50%;
  margin: 0 auto;
}

footer .socials {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin: 8% 0%;
}

footer .socials img {
  width: auto;
  margin: 0% 3%;
}

footer nav {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 10% auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer nav a {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  margin: 10% auto;
}

footer p {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  color: #8c8c8c;
}

@media only screen and (min-width: 500px) {
  body {
    background-color: #ffffff;
  }
  header {
    width: 80%;
    margin: 0 auto;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4% 1%;
    z-index: 5;
    position: absolute;
    left: 0;
    right: 0;
  }
  header .humbergermenu {
    display: none;
  }
  header .normal {
    display: block;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .normal a {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
  }
  .special {
    display: none;
  }
  .firstsection {
    position: relative;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 15, 0.465)), to(rgba(0, 0, 15, 0.465))), url(./images/desktop/image-hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 15, 0.465), rgba(0, 0, 15, 0.465)), url(./images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15% 0%;
  }
  .firstsection div {
    width: 80%;
    margin: 0 auto;
  }
  .firstsection h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    width: 60%;
    font-size: 5rem;
    color: white;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    padding: 4% 2%;
    word-spacing: 9px;
  }
  .secondesection {
    width: 80%;
    margin: 2% auto;
    height: auto;
    padding: 5% 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .secondesection .imagecontainer {
    width: 50%;
    margin: 1%;
  }
  .secondesection .imagecontainer img {
    width: 100%;
  }
  .secondesection .whitetext {
    position: absolute;
    background: #ffffff;
    width: 50%;
    height: 60%;
    padding: 4%;
    margin: 0% auto 0% 40%;
    top: 40%;
  }
  .secondesection .whitetext p {
    font-size: 1rem;
  }
  .thirdsection {
    width: 80%;
    margin: 10% auto;
  }
  .thirdsection .nameandbutton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .thirdsection .nameandbutton h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
  }
  .thirdsection .nameandbutton button {
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-weight: 800;
    text-transform: uppercase;
    padding: 1% 4%;
    border: 1px solid #000000;
    background: #ffffff;
  }
  .thirdsection .nameandbutton button:hover {
    background: #000000;
    color: #ffffff;
    cursor: pointer;
  }
  .thirdsection .allfigures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .thirdsection .allfigures figure {
    width: 22%;
    margin: 2% 0%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .thirdsection .allfigures figure .figureimage {
    width: 100%;
    height: auto;
  }
  .thirdsection .allfigures figure .figureimage img {
    width: 100%;
  }
  .thirdsection .allfigures figure figcaption {
    position: absolute;
    color: #ffffff;
    left: 0;
    bottom: 0;
    font-size: 2rem;
    margin: 10%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    width: 80%;
  }
  .thirdsection .secondbutton {
    display: none;
  }
  footer {
    background: #000000;
    padding: 3% 1%;
    color: #ffffff;
  }
  footer .footercontainer {
    width: 80%;
    padding: 2% 1%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 20%;
    margin: 0%;
  }
  footer .socials {
    width: 60%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 1% 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0%;
  }
  footer .socials img {
    width: auto;
    margin: 0px 10px;
  }
  footer nav {
    width: 40%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 2% 0%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer nav a {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
    margin: 0% 5% 0% 0%;
  }
  footer p {
    width: 40%;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    color: #8c8c8c;
    text-align: right;
  }
}
/*# sourceMappingURL=style.css.map */