@import "./css/base/index.scss";

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: $white;
}

header {
    width: 90%;
    margin: 0 auto;
    padding: 10% 1%;
    z-index: 5;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
        width: 30%;
        display: none;
        justify-content: space-between;
        align-items: center;

        a {
            @include fontalata;
            text-decoration: none;
            color: $white;
        }
    }
}

.firstsection {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 15, 0.465), rgba(0, 0, 15, 0.465)), url(./images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    width: auto;
    height: 80vh;
    background-size: 100%;
    display: flex;
    align-items: center;

    div {
        width: 90%;
        margin: 0 auto;
    }

    h1 {
        @include fontjosefin;
        width: 95%;
        font-size: 40px;
        color: white;
        text-transform: uppercase;
        border: 2px solid $white;
        padding: 4% 2%;
        word-spacing: 9999px;
    }
}

.secondesection {
    background: $white;
    width: 100%;
    height: auto;
    padding: 30% 0% 30% 0%;
    display: flex;
    flex-direction: column;


    .imagecontainer {
        width: 90%;
        margin: 0 auto;

        img {
            width: 100%;
        }
    }

    h2 {
        @include fontjosefin;
        font-weight: 400;
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        padding: 10% 0% 6% 0%;
    }

    p {
        color: $darkgray;
        text-align: center;
        @include fontalata;
        width: 90%;
        margin: 0 auto;
    }

}

.thirdsection {
    div {
        h2 {
            @include fontjosefin;
            font-weight: 400;
            font-size: 40px;
            text-transform: uppercase;
            text-align: center;
            padding: 0% 0% 6% 0%;
        }

        button {
            display: none;
        }
    }



    .allfigures {
        figure {
            width: 90%;
            margin: 4% auto;
            position: relative;


            .figureimage {
                width: 90%;

                img {
                    width: 100%;
                }
            }

            figcaption {
                position: absolute;
                color: $white;
                left: 0;
                bottom: 0;
                font-size: 20px;
                margin: 5%;
                @include fontjosefin;
                text-transform: uppercase;
                width: 35%;
            }
        }
    }

    .secondbutton {
        display: block;
        margin: 5% auto 30% auto;
        @include fontjosefin;
        font-weight: 800;
        text-transform: uppercase;
        padding: 4% 14%;
        border: 1px solid $black;
        background: $white;

    }

}

footer {

    .footercontainer{
        background: $black;
        padding: 20% 1%;
        color: $white;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    

    img {
        order: 1;
        width: 50%;
        margin: 0 auto;
    }

    .socials {
        order: 3;
        margin: 8% 0%;

        img {
            width: auto;
            margin: 0% 3%;
        }
    }

    nav {
        order: 2;
        margin: 10% auto;
        align-items: center;
        display: flex;
        flex-direction: column;

        a {
            @include fontalata;
            text-decoration: none;
            color: $white;
            margin: 10% auto;
        }
    }

    p {
        order: 4;
        @include fontalata;
        color: $darkgray;
    }


}


@media only screen and (min-width: 500px) {
    body {
        background-color: $white;
    }

    header {
        width: 80%;
        margin: 0 auto;
        background: transparent;
        display: flex;
        justify-content: space-between;
        padding: 4% 1%;
        z-index: 5;
        position: absolute;
        left: 0;
        right: 0;

        .humbergermenu {
            display: none;
        }

        nav {
            width: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                @include fontalata;
                text-decoration: none;
                color: $white;
            }
        }
    }


    .firstsection {
        position: relative;
        background-image: linear-gradient(rgba(0, 0, 15, 0.465), rgba(0, 0, 15, 0.465)), url(./images/desktop/image-hero.jpg);
        background-repeat: no-repeat;
        height: auto;
        background-size: cover;
        display: flex;
        align-items: center;
        padding: 15% 0%;

        div {
            width: 80%;
            margin: 0 auto
        }

        h1 {
            @include fontjosefin;
            width: 60%;
            font-size: 5rem;
            color: white;
            text-transform: uppercase;
            border: 2px solid $white;
            padding: 4% 2%;
            word-spacing: 9px;
        }
    }

    .secondesection {
        width: 80%;
        margin:10% auto;
        height: auto;
        padding: 0% 0% 5% 0%;
        display: flex;
        flex-direction: column;
        position: relative;
        .imagecontainer {
            width: 50%;
            margin: 1%;

            img {
                width: 100%;
            }
        }

        .whitetext {
            position: absolute;
            background: $white;
            width: 50%;
            padding: 5%;
            margin: 0% auto 0% 40%;
            top: 30%;
        }

    }

    .thirdsection {
        width: 80%;
        margin:10% auto;
        .nameandbutton {
            display: flex;
            align-items: flex-start;
            justify-content:space-between ;
            h2 {
                @include fontjosefin;
            }

            button {
                display: block;
                @include fontjosefin;
                font-weight: 800;
                text-transform: uppercase;
                padding: 1% 4%;
                border: 1px solid $black;
                background: $white;
            }
        }

        .allfigures {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            figure {
                width: 22%;
                margin: 2% 0%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                .figureimage {
                    width: 100%;
                    height:auto;

                    img {
                        width: 100%;
                    }
                }

                figcaption {
                    position: absolute;
                    color: $white;
                    left: 0;
                    bottom: 0;
                    font-size: 2rem;
                    margin: 10%;
                    @include fontjosefin;
                    text-transform: uppercase;
                    width: 80%;
                }
            }
        }

        .secondbutton {
            display: none;
        }

    }

    footer {
        background: $black;
        padding: 3% 1%;
        color: $white;
       
        .footercontainer{
            width: 80%;
            padding: 2% 1%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
           
        }
        

        img {
            order: 1;
            width: 20%;
            margin: 0%;
            
        }

        .socials {
            width: 60%;
            order: 2;
            margin: 1% 0%;
            display: flex;
            justify-content: flex-end;
            padding: 0%;

            img {
                width: auto;
                margin:0px 10px;
            }
        }

        nav {
            width: 40%;
            order: 3;
            margin: 2% 0%;
            align-items: flex-start;
            display: flex;
            flex-direction: row;

            a {
                @include fontalata;
                text-decoration: none;
                color: $white;
                margin: 0% 5% 0% 0%;
            }
        }

        p {
            width: 40%;
            order: 4;
            @include fontalata;
            color: $darkgray;
            text-align: right;
        }


    }




}