

.thirdsection {
    div {
        h2 {
            @include fontjosefin;
            font-weight: 400;
            font-size: 40px;
            text-transform: uppercase;
            text-align: center;
            padding: 0% 0% 6% 0%;
        }

        button {
            display: none;
        }
    }



    .allfigures {
        figure {
            width: 90%;
            margin: 4% auto;
            position: relative;


            .figureimage {
                width: 90%;

                img {
                    width: 100%;
                }


            }

           

            figcaption {
                position: absolute;
                color: $white;
                left: 0;
                bottom: 0;
                font-size: 20px;
                margin: 5%;
                @include fontjosefin;
                text-transform: uppercase;
                width: 35%;
            }
        }

        figure:hover  figcaption{
            color: $black;

        }

        figure:hover  img{
            opacity: 0.4;

        }
    }

    .secondbutton {
        display: block;
        margin: 5% auto 30% auto;
        @include fontjosefin;
        font-weight: 800;
        text-transform: uppercase;
        padding: 4% 14%;
        border: 1px solid $black;
        background: $white;

        &:hover {
            background: $black;
            color: $white;
            cursor: pointer;
        }

    }

}